.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

img {
  width: 4rem;
}

ul {
  display: flex;
}

#form-cont {
  width: 28rem;
  padding: 2rem;
  overflow: hidden;
  position: absolute;
  margin-left: 12rem;
  border: 1px solid black;
  background-color: rgb(167, 167, 96);
  border-radius: .5rem;
}

label {
  padding: 5px;
}

.end {
  position: absolute;
  right: 4rem;
  background-color: antiquewhite;
  padding: 1rem;
}

.lab {
  padding: 12px;
}

.inp {

  margin-left: 5rem;
}

.inp2 {
  margin-left: 3rem;
}

.butt {
  margin: 1rem 6rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.side {
  margin-left: 2rem;
}

.yellow {
  background-color: yellow;
}